<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Records</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="navbar">
        <a class="logo" href='/admin'>
            <img src="logo2.png" alt="Logo">
          <div class="logo" style="text-decoration: none;"><span style="color: #333;">TURTLE SHELTER<br>PROJECT</span></div>
        </a>
        <nav class="nav-links">
            <!-- <form action="/admin" method="GET" style="display: inline;">
                <a href="#" onclick="this.closest('form').submit();">Control Panel</a>
            </form>
            <a href="#"> View Event Request Form</a>
            <form action="/maintainAdmin" method="GET" style="display: inline;">
                <a href="#" onclick="this.closest('form').submit();">Manage Admins</a>
            </form> -->
            <!-- Logout as an 'a' tag -->
            <form action="/logout" method="POST" style="display: inline;">
                <a href="#" onclick="this.closest('form').submit();" style="color: rgb(212, 19, 19); text-decoration: none; padding: 10px; cursor: pointer;">Logout</a>
            </form>
        </nav>
    </header>
<br>
<h1 style="text-align: center;">Admin Records</h1>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Modify</th>
        </tr>
    </thead>
    <tbody>
        <% if (admins.length > 0) { %>
            <% admins.forEach(row => { %>
            <tr>
                <input type="hidden" value="<%= row.admin_id %>">
                <td><%= row.fname %></td>
                <td><%= row.lname %></td>
                <td><%= row.username %></td>
                <td>
                    <form action="/editAdmin/<%= row.admin_id %>" method="GET" style="display:inline;">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/deleteAdmin/<%= row.admin_id %>" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this record?');">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        <% } else { %>
            <tr>
                <td colspan="4">No data available</td>
            </tr>
        <% } %>
    </tbody>
</table>
 
<form action="/createAdmin" method="GET" style="text-align: center;">
    <button type="submit">Add Admin</button>
</form>
<br>
 
<footer class="footer" style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: #f8f8f8; text-align: center; padding: 20px; border-top: 1px solid #ddd;">
    <p>&copy; 2024 Turtle Shelter Project. All rights reserved.</p>
</footer>

</body>
</html>